<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
  
    <!-- Set default link provider -->
    <linkManager>
      <patch:attribute name="defaultProvider">token</patch:attribute>
      <providers>
        <add name="token" type="Demo.ReusableTokens.Providers.TokenLinkProvider, Demo.ReusableTokens"
             addAspxExtension="false"
             alwaysIncludeServerUrl="false"
             encodeNames="true"
             languageEmbedding="never"
             languageLocation="filePath"
             lowercaseUrls="true"
             shortenUrls="true"
             useDisplayName="false">
        </add>
      </providers>
    </linkManager>
	
	<!-- Token configuration -->
    <reusableTokens>
		<tokenRoot>{110D559F-DEA5-42EA-9C1C-8A5DF7E70EF9}</tokenRoot>
		<tokenProcessors>
			<processor type="Demo.ReusableTokens.Processors.ContentFieldTokenProcessor, Demo.ReusableTokens">
				<tokenTemplateIds>
					<template name="Token">{76036F5E-CBCE-46D1-AF0A-4143F9B557AA}</template>
				</tokenTemplateIds>
			</processor>
		</tokenProcessors>
	</reusableTokens>
	
  </sitecore>
</configuration>